/* Imported Font  */
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald&family=Playwrite+HU:wght@100..400&family=Style+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Universal Selector  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* World Element  */
:root {
  --bg-primary: white;
  --bg-secondary: black;
  --color: #666;
  font-family: Arial, sans-serif;
}

/* Web  */
.web {
  min-height: 100vh;
  background: var(--bg-primary);
  /* padding: 10px; */
  scroll-behavior: smooth;
}

/* Home Page  */
.home {
  min-height: 100vh;
  padding: 10px;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Navigation Bar  */
nav {
  width: 100%;
  height: 15vh;
  background: var(--bg-secondary);
  /* border: 5px solid gold; */
  /* position: fixed; */
  /* z-index: 9999; */
}

.home > header {
  height: 20vh;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  /* transform: translateY(20vh); */
}

.home > header > h1 {
  font-size: 50px;
}

.home > header > h3 {
  font-size: 30px;
}

/* Home Main  */
.home-main {
  height: 75vh;
  width: 90%;
  /* background: gray; */
}

.home-main > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  animation-name: scrollvideo;
  animation-timeline: view();
  animation-timing-function: linear;
  animation-duration: 5s;
}

@keyframes scrollvideo {
  from{
    opacity: 0.9;
    transform: scale(0.7);
  }
  to{
    opacity: 1;
    transform: scale(1.1);
  }
}


/* Home Page closes*/

/* Features  */
.features {
  width: 100%;
  min-height: 100vh;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  /* background: red; */
  display: grid;
  /* gap: 10px; */
  grid-template-areas:
    "box1 box3 box3 box2"
    "box4 box3 box3 box5"
    "box6 box7 box8 box9";
}

.box {
  min-width: 250px;
  min-height: 200px;
  border-radius: 20px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 1000ms;
}

/* Hover  */
.box:hover{
  transform: scale(1.1);
}

.box > img {
  width: 100%;
  height: 100%;
}

.box1 {
  grid-area: box1;
  background: url(./a18-1.png);
  background-position: center;
  background-size: cover;
}

.box2 {
  grid-area: box2;
  background: url(./logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.box3 {
  grid-area: box3;
}

.box3>video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}

.box4 {
  grid-area: box4;
  background: url(./charger.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
}

/* Features closes */

/* About  */
.about {
  min-height: 100vh;
  /* background: gray; */
  padding:10px;
  color: var(--color);
}

.about>header{
  height: 10vh;
  padding: 10px 20px;
  border-bottom: 2px solid var(--bg-secondary);
}

.about>header>h1{
  font-size: 50px;
}

.about>.abt-container{
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation-name: txt;
  animation-timing-function: ease-in;
  animation-duration: 1000ms;
  animation-timeline: view();
}

@keyframes  txt{
  from{
    opacity: 0.6;
  }
  to{
    opacity: 1;
  }
}

.about>.abt-container>h1{
  color: var(--bg-secondary);
  font-size: 30px;
}
/* About  closes*/

/* About scroll  */
.abt-scroll{
  height: 90vh;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.abt-scroll>header{
  padding: 10px 20px;
}

.abt-scroll>header>h1{
  font-size: 40px;
  /* padding: 10px 20px; */
}

.abt-scr-container{
  height: 90%;
  display: flex;
  align-items: center;
  padding: 30px 40px;
  /* justify-content: space-evenly; */
  gap: 30px;
  overflow-x: scroll;
}

/* About Scroll  */
/* <500px */
@media only screen and (max-width:500px) {
  .abt-container{
    flex-direction: column;
  }
}
/* About Scroll  closes*/

.abt-scr-box{
  height: 100%;
  width: 250px;
  border: 2px solid var(--color);
  border-radius: 20px;
  transition: all 1000ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.abt-scr-box>header{
  height: 30%;
  background: gray;
}

.abt-scr-box>footer{
  height: 30%;
  background: blue;
}

/* Hover  */
.abt-scr-box:hover{
  transform: scale(1.1);
}

/* About scroll  closes*/

/* Footer  */
body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #f5f5f7;
  padding: 20px 0;
  font-size: 14px;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.column {
  width: 30%;
  min-width: 200px;
  margin-bottom: 20px;
}

.column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.column ul li a {
  text-decoration: none;
  color: #333;
}

.column ul li a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.disclaimer {
  font-size: 12px;
  color: #666;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #666;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    text-align: center;
  }

  .column {
    width: 100%;
  }
}

/* Footer closes  */

/* Responsive  */

/* Home  */
/* <600px */
@media only screen and (max-width: 600px) {
  .home > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 10px;
  }

  .home > header > h1 {
    font-size: 30px;
  }

  .home > header > h3 {
    font-size: 20px;
  }
}

/* Home closes */

/* Features  */
/* <1000px */
@media only screen and (max-width: 1000px) {
  .f-container {
    grid-template-areas:
      "box3 box3 box1 box2"
      "box3 box3 box4 box5"
      "box6 box7 box8 box9";
  }

  .box {
    min-width: 200px;
    min-height: 200px;
  }
}

/* <900px */
@media only screen and (max-width: 900px) {
  .f-container {
    grid-template-areas:
      "box1 box2 box4 box5"
      "box3 box3 box6 box7"
      "box3 box3 box8 box9";
  }

  .box {
    min-width: 180px;
    min-height: 200px;
  }
}

/* <800px */
@media only screen and (max-width: 800px) {
  .f-container {
    grid-template-areas:
      "box1 box2 box4 box5"
      "box8 box3 box3 box7"
      "box6 box3 box3 box9";
  }

  .box {
    min-width: 150px;
    min-height: 200px;
  }
}

/* <700px */
@media only screen and (max-width: 700px) {
  .f-container {
    grid-template-areas:
      "box3 box3"
      "box3 box3"
      "box1 box2"
      "box4 box5"
      "box6 box7"
      "box8 box9";
  }

  .box {
    min-width: 300px;
    min-height: 150px;
  }
}

/* <500px */
@media only screen and (max-width: 500px) {
  .f-container {
    grid-template-areas:
      "box3 box3"
      "box3 box3"
      "box1 box2"
      "box4 box5"
      "box6 box7"
      "box8 box9";
  }

  .box {
    min-width: 150px;
    min-height: 150px;
  }
}

/* <400px */
@media only screen and (max-width: 400px) {
  .f-container {
    grid-template-areas:
      "box1 box2"
      "box4 box5"
      "box3 box3"
      "box3 box3"
      "box6 box7"
      "box8 box9";
  }

  .box {
    min-width: 100px;
    min-height: 150px;
  }
}

/* Features closes */

/* About */
/* <800px */
@media only screen and (max-width:800px) {
  .about>.abt-container>h1{
    font-size: 25px;
  }

  .about>.abt-container>p{
    font-size: 15px;
  }
}

/* <400px */
@media only screen and (max-width:400px) {
  .about>.abt-container{
    padding: 30px 10px;
  }

  .about>.abt-container>p{
    font-size: 15px;
  }
}
/* About closes  */
